:root {
    --white: #FFFFFF;
    --clr-off-white-500: #E8DFD6;
    --off-white: #F6F1EB;
    --warm-main: #676f58;
    --warm-secondary: #C97C5D;
    --deep-color: #402E2A;
    --black: #000000;
    --neon-green: #A4FF5F;
    --neon-orange: #f39121;
    --gray: #262626;
    --corners: 24px;
    --corners-small: 10px;
    --base-font-size: 1rem;
    --ld-bkgd: light-dark(var(--off-white), var(--black));
    --ld-text: light-dark(var(--deep-color), var(--white));
    --ld-h2: light-dark(var(--warm-main), var(--neon-green));
    --ld-hover: light-dark(var(--deep-color), var(--white));
    --ld-project: light-dark(var(--clr-off-white-500), var(--gray));
    --ld-skills: light-dark(var(--warm-main), var(--neon-orange));
    --text-hover: light-dark(var(--white), var(--black));
}

html {
    box-sizing: border-box;
    color-scheme: light dark;
}

html:has(#mode-switcher #light:checked) {
    color-scheme: light;
}

html:has(#mode-switcher #dark:checked) {
    color-scheme: dark;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: var(--base-font-size);
    font-family: 'Roboto', sans-serif;
    background-color: var(--ld-bkgd);
    color: var(--ld-text);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    margin: 0;
    font-size: calc(var(--base-font-size) * 2.9);
}

h2 {
    margin: 0;
    font-size: calc(var(--base-font-size));
    text-transform: uppercase;
    color: var(--ld-h2);
    letter-spacing: 0.25em;
}

h3 {
  margin: 0;
}

p {
    line-height: 1.5;
}

a {
    color: var(--text-hover);
    text-decoration: none;
}

a:hover {
    color: var(--ld-hover);
}

img {
  max-width: 100%;
  border-radius: var(--corners);
}

.icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
}

ul svg {
    width: 36px;
    height: 36px;
}

.social {
    fill: var(--ld-h2);
}

.social:hover {
    fill: var(--ld-hover);
}

.main-article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
}

.main-article img {
    margin: 0 auto;
    object-fit: cover;
    object-position: top;
    height: 250px;
    width: 300px;
    overflow: hidden;
}

footer {
    text-align: center;
}

.footer-text {
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.footer-text-box ul {
    font-size: calc(var(--base-font-size) * 0.85);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-text-box li {
    line-height: 2;
}

.h2-footer {
    margin-bottom: 2rem;
}

footer .social {
    fill: var(--ld-text)
}

footer .social:hover {
    fill: var(--ld-hover)
}

main {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.project {
    background-color: var(--ld-project);
    padding: 3rem;
    border-radius: var(--corners);
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.projects {
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
}

.project ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.project li {
    background-color: var(--ld-skills);
    color: var(--white);
    padding: 0.5rem;
    border-radius: var(--corners-small);
    font-size: calc(var(--base-font-size) * 0.85);
}

.project img {
    grid-row: 1/2;
    box-shadow: 10px 10px 20px var(--deep-color);
}

@layer switch {
    .radio-switch {
	border: none;
	padding: 0;
	white-space: nowrap;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.radio-switch legend {
	font-size: 2px;
	opacity: 0;
	position: absolute;
}

.radio-switch label {
	display: inline-block;
	line-height: 2;
    font-size: 0.9rem;
	position: relative;
	z-index: 2;
}

.radio-switch input {
	opacity: 0;
	position: absolute;
}

.radio-switch label:first-of-type {
	padding-right: 5em;
}

.radio-switch label:last-child {
	margin-left: -4.25em;
	padding-left: 5em;
}

.radio-switch:focus-within label:first-of-type:after {
	box-shadow: 0 0 0 2px var(--white), 0 0 0 4px var(--deep-color);
}

/* making the switch UI.  */
.radio-switch label:first-of-type:before,
.radio-switch label:first-of-type:after {
	border: 1px solid var(--deep-color);
	content: "";
	height: 2em;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	vertical-align: middle;
}

.radio-switch label:first-of-type:before {
	background: var(--off-white);
	border: 1px solid var(--deep-color);
	border-radius: 100%;
	position: absolute;
	right: -.075em;
	transform: translateX(0em);
	transition: transform .2s ease-in-out;
	width: 2em;
	z-index: 2;
}

.radio-switch label:first-of-type:after {
	background: var(--gray);
	border-radius: 1em;
	margin: 0 1em;
	transition: background .2s ease-in-out;
	width: 4em;
}

.radio-switch input:first-of-type:checked ~ label:first-of-type:after {
	background: var(--warm-main);
}

.radio-switch input:first-of-type:checked ~ label:first-of-type:before {
	transform: translateX(-2em);
}

.radio-switch input:last-of-type:checked ~ label:last-of-type {
	z-index: 1;
}
}

@media(min-width: 750px) {
    :root {
        --base-font-size: 1.125rem;
    }

    h1 {
        margin-left: -3px;
    }

    .wrapper {
        margin: 5rem auto;
    }

    .main-article {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: left;
    }

    .main-article img {
        max-height: 400px;
        margin: 0 0 0 auto;
        object-position: none;
        height: auto;
        width: auto;
        overflow: auto;
    }

    .icons {
        justify-content: flex-start;
    }

    .footer-text {
        grid-template-columns:  repeat(3, 1fr);
    }

}

@media(min-width: 850px) {
    main {
        text-align: left;
        margin: 0;
    }
    .project {
        grid-template-columns: 1fr 1fr;
    }
    .project img {
        grid-row: auto;
    }
    .project ul {
        justify-content: flex-start;
    }
}